/* ---- TOP ---- */
.header--certified {
  background: #22232a;
  color: #a9aab3;
  padding: 60px 0;
  text-shadow: none;
  font-size: 14px; }
  .header--certified .page__title {
    font-weight: 300;
    color: #fff;
    margin-bottom: 15px; }
    .header--certified .page__title .word2, .header--certified .page__title .word3 {
      font-weight: 700;
      color: #f7941e; }
  .header--certified .page__description {
    padding-right: 100px; }
  .header--certified .header__cta {
    margin-top: 30px; }
  @media (min-width: 680px) {
    .header--certified {
      background: #22232a url(../img/certified-hero-image.jpg) center no-repeat; } }
  @media (max-width: 679px) {
    .header--certified .fl-9 {
      width: auto; }
    .header--certified .page__description {
      padding-right: 0; } }

.btn.btn-playvideo {
  margin-left: 15px;
  border-color: #5a5c6b;
  color: #a9aab3; }
  @media (max-width: 479px) {
    .btn.btn-playvideo {
      display: none; } }
  .btn.btn-playvideo i {
    display: inline-block;
    background: url(../img/certified-icon-playvideo.png) no-repeat;
    -webkit-background-size: 8px 10px;
    background-size: 8px 10px;
    width: 8px;
    height: 10px;
    margin-right: 10px;
    position: relative;
    top: -2px;
    opacity: 0.9; }
  .btn.btn-playvideo:hover {
    border-color: #a9aab3;
    background-color: transparent;
    color: #c4c5cb; }
    .btn.btn-playvideo:hover i {
      opacity: 1; }

/* ---- SECTIONS ---- */
.section__certified--guarantee {
  padding: 165px 0 0;
  background: #fff url(../img/certified-embassies-mb.png) center 10px no-repeat;
  -webkit-background-size: 110% auto;
  background-size: 110% auto; }
  @media (min-width: 480px) {
    .section__certified--guarantee {
      padding: 90px 0;
      background: #fff url(../img/certified-embassies.png) center no-repeat;
      -webkit-background-size: 900px auto;
      background-size: 900px auto; } }
  @media (min-width: 1200px) {
    .section__certified--guarantee {
      -webkit-background-size: 1182px 368px;
      background-size: 1182px 368px; } }
.section__certified--documents {
  padding: 60px 0; }
.section__certified--order {
  padding: 60px 0 45px; }
  .section__certified--order .section__title:after {
    display: none; }
  .section__certified--order .section__title--light {
    color: #a9aab3; }
.section__certified--cta {
  padding: 75px 0;
  background: #fff url(../img/certified-cta-bg.jpg) center top no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto; }
  .section__certified--cta .section__title--cta {
    font-weight: 300;
    font-size: 36px; }
  .section__certified--cta .cta {
    margin-top: 30px; }
    .section__certified--cta .cta__hero {
      position: absolute;
      bottom: -75px; }
      @media (max-width: 479px) {
        .section__certified--cta .cta__hero {
          display: none; } }

/* ---- ORDER ---- */
.order-steps {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 45px; }
  .order-steps li {
    float: left;
    width: 33.33333%;
    padding: 0 15px; }
    .order-steps li:before {
      display: none; }
    @media (max-width: 767px) {
      .order-steps li {
        float: none;
        width: auto;
        margin-top: 30px; }
        .order-steps li:first-child {
          margin-top: 0; } }
  .order-steps .order-step {
    border-radius: 10px;
    border: 2px solid #3a3c45;
    padding: 15px;
    text-align: center; }
    @media (max-width: 767px) {
      .order-steps .order-step {
        text-align: left; } }
    .order-steps .order-step > *:last-child {
      margin-bottom: 0;
      min-height: 50px; }
      @media (max-width: 767px) {
        .order-steps .order-step > *:last-child {
          min-height: 0;
          padding-left: 119px; } }
    .order-steps .order-step i {
      display: inline-block;
      background: url(../img/certified-order-steps.png) no-repeat;
      width: 119px;
      height: 85px;
      -webkit-background-size: 357px 85px;
      background-size: 357px 85px;
      margin-bottom: 15px;
      margin-top: -30px; }
      @media (max-width: 767px) {
        .order-steps .order-step i {
          float: left;
          margin-bottom: 0; } }
    .order-steps .order-step--2 i {
      background-position: center; }
    .order-steps .order-step--3 i {
      background-position: right; }
    .order-steps .order-step span {
      text-transform: uppercase;
      color: #f7941e;
      font-weight: 700;
      display: block; }

.order-questions {
  margin-top: 30px;
  font-size: 13px; }
  .order-questions h5 {
    font-size: 13px;
    margin-bottom: 0; }

/* ---- MISC ---- */
.image-half {
  width: 50%; }

.order-steps, .order-steps .order-step {
  zoom: 1; }
  .order-steps:before, .order-steps .order-step:before, .order-steps:after, .order-steps .order-step:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden; }
  .order-steps:after, .order-steps .order-step:after {
    clear: both; }
