.btn
  padding: 6px 18px
  display: inline-block
  background: $primarycolor
  color: #fff
  box-shadow: inset 0 -2px 0 #f46f14
  border-radius: $gutter*2
  text-shadow: 0 1px 0 #f46f14
  +transition(all,0.1s,linear)

  &.btn-blue
    background: $secondarycolor
    box-shadow: inset 0 -2px 0 rgba(#000, .2)
    text-shadow: 0 1px 0 rgba(#000, .2)

    &:hover
      background: lighten($secondarycolor,5)

  &:hover
    color: #fff
    background: lighten($primarycolor,5)

  &.btn-lg
    padding: 12px 24px
    border-radius: $gutter*4
    +font-size(2.1)
    font-weight: 700
    box-shadow: inset 0 -3px 0 #f46f14

  &.btn-md
    padding: 10px 20px
    border-radius: $gutter*3
    +font-size(1.8)
    font-weight: 700

  &.btn-outline
    background: transparent
    border: 1px solid $primarycolor
    color: $primarycolor
    text-shadow: none
    box-shadow: none

    &:hover
      background: $primarycolor
      color: #fff

    &--grey
      border-color: #d1d6da
      color: $lightercolor

      &:hover
        border-color: $primarycolor
