.comment-respond, .entry-comments
  background: #fff
  border-bottom: 1px solid #ddd

//entry-comments
.entry-comments
  margin-top: $gutter*2

  // > h3
  //   padding: $gutter $gutter*2
  //   background: url(../img/bg-orange.jpg) $primarycolor
  //   color: #fff
  //   margin-bottom: 0
  > h3
    padding: $gutter $gutter*2
    border-bottom: 3px solid $primarycolor
    margin-bottom: 0

  .comment-respond
    padding: $gutter*2
    margin: 0 $gutter*2 0 48px + 7.5px
    background: $bodybgcolor
    border: 3px dashed lighten($lightercolor,20)

    form
      padding: $gutter 0 0

    .comment-reply-title
      padding: 0
      border-bottom: none

.comment-list
  list-style: none
  padding-left: 0

  > li
    padding: $gutter*2

    + li
      padding-top: 0

    .children
      padding-top: $gutter
      margin-bottom: 0

      li
        padding: $gutter 0 $gutter 48px + 7.5px

        &:before
          display: none



.comment-header

  .comment-author
    margin-left: -$gutter*2 - 24px
    margin-bottom: 0
    +font-size(1.8)
    font-weight: bold

  .avatar
    vertical-align: middle
    margin-right: $gutter/2
    border-radius: 50%

  .comment-meta
    +font-size(1.2)
    border-bottom: 1px dotted #ddd
    margin-top: -$gutter/2

    a
      color: $lightercolor


.comment-content

  // alert box
  .alert
    color: $dangercolor
    background-color: lighten($dangercolor, 48)
    padding: $gutter


//-------------------------------------
// Comment Author Style
//-------------------------------------
.comment-author-admin
  header
    color: $darkercolor

  > article
    img
      box-shadow: 0 0 0 3px $primarycolor


//-------------------------------------
// Comment Respond Form
//-------------------------------------

.comment-respond
  background: #fff
  position: relative
  margin-top: $gutter*2

  > h3
    padding: $gutter $gutter*2
    border-bottom: 3px solid $primarycolor
    margin-bottom: 0

  .comment-form
    padding: $gutter*2

  .comment-notes
    @include font-size(1.2)
    color: $lightercolor
    border-bottom: 1px dotted #ddd
    padding-bottom: $gutter

  .required
    color: $dangercolor

  [class*="comment-form-"]
    display: table
    width: 100%

    > *
      display: table-cell
      vertical-align: top

      &:first-child
        width: 100px
        padding-top: 5px

      &:last-child
        width: 100%

  .form-allowed-tags
    padding-left: 100px
    @include font-size(1.2)

  .form-submit
    padding-left: 100px
