.cta__main
  background: url(../img/bottomcta-arrow.png) 90% 0 no-repeat #fff
  +font-size(1.6)
  @extend %clearfix
  border-top: 3px solid $primarycolor /*rgba(#d1d6da,.4)*/
  box-shadow: 0 1px 3px rgba(#000, .1)

  &--left, &--right
    padding: 45px 0
    display: inline-block
    vertical-align: middle

  &--left
    width: 58%
    background: url(../img/bottomcta-ctapointer-2.png) right no-repeat

  &--right
    width: 41.5%
    padding-left: $gutter

  .cta__title
    +font-size(2.8)
    color: $secondarycolor
    margin-bottom: 0


.cta__clients
  padding: 45px 0
  border-top: 1px solid rgba(#d1d6da,.4)
  text-align: center

  &--omni
    width: 60px + $gutter
    height: 38px
    background: url(../img/omni-translation-logo.svg) no-repeat
    background-size: 60px 38px
    border-right: 1px solid #d1d6da
    @extend %hidetext
    display: inline-block
    vertical-align: top

    .no-backgroundsize &
      background: url(../img/omni-translation-logo-cta.png) left no-repeat

  &--client
    display: inline-block
    padding-left: $gutter
    vertical-align: top

    span
      +font-size(1.2)
      color: $lightercolor
      text-align: left
      display: block
      position: relative
      top: -5px

    div
      width: 436px
      height: 20px
      background: url(../img/bottomcta-clients.png) no-repeat
      @extend %hidetext
