.footer
  background-color: $footerbgcolor
  color: $footercolor
  padding: 45px 0
  +font-size(1.2)
  clear: both

  h5
    color: $footerheadlinecolor
    +font-size(1.6)
    font-weight: 700


.footer__block
  @extend .fl-3
  @extend [class*="fl-"]

  &.widget_recent_entries
    li
      padding: 10px 0
      border-bottom: 1px dotted darken($footercopyrightcolor,20)

      &:first-child
        padding-top: 0

      &:last-child
        border-bottom: none

      &:before
        display: none

      .post-date
        display: block

  @media (max-width: 767px)
    width: 50%
    float: none
    display: inline-block
    margin-bottom: $gutter

  @media (max-width: 479px)
    width: auto
    display: block

.footer__social
  list-style: none
  text-align: center
  margin-top: $gutter*2

  li
    margin-bottom: $gutter/2
    padding-left: 0
    display: inline-block

    &:before
      display: none

  a
    color: $footercolor

    &:hover
      color: lighten($footercolor, 10)

  $iconsize: 36px

  i
    display: inline-block
    width: $iconsize
    height: $iconsize
    background: url(../img/footer-socialicons.svg) no-repeat
    -webkit-background-size: $iconsize auto
    background-size: $iconsize auto
    vertical-align: middle
    margin-right: $gutter/2

    .no-svg &
      background-image: url(../img/footer-socialicons.png)

    &.social__tw
      background-position: 0 -#{$iconsize}

    &.social__li
      background-position: 0 -#{$iconsize*2}

    &.social__gp
      background-position: 0 -#{$iconsize*3}

    &.social__pt
      background-position: 0 -#{$iconsize*4}

    &.social__yt
      background-position: 0 -#{$iconsize*5}

.tel
  margin-bottom: 0

.footer__copyright
  +font-size(1.2)
  color: $footercopyrightcolor
  text-align: center
  margin: $gutter 0 0

.footer__nav
  border-top: 1px solid darken($footercopyrightcolor,20)
  border-bottom: 1px solid darken($footercopyrightcolor,20)
  padding: $gutter 0
  margin: $gutter 0
  @extend %clearfix

  ul
    list-style: none
    @extend %clearfix
    margin-bottom: 0

    li
      display: inline-block

  &--main
    float: left
    text-transform: uppercase

    li
      margin-right: $gutter

      &:last-child a
        @extend .btn

  &--second
    float: right

    li
      margin-left: $gutter
      padding: 6px 0

    a
      color: $footercolor

      &:hover
        color: lighten($footercolor, 10)









