button
  border: none

// .form-control
//   padding: 5px
//   border: none
//   border: 1px solid #ddd
//   border-radius: 3px
//   line-height: 1.4
//   background-color: #fbfbfb
//   box-shadow: inset 0 1px 1px rgba(#000,.1)
//   display: block
//   width: 100%

//   &:focus, &:active
//     outline: 0
//     border-color: $primarycolor
//     background-color: #fff

// textarea
//   height: auto

input[type=button], input[type=submit]
  @extend .btn
  border: none

input[type=text], input[type=url], input[type=email], input[type=tel], input[type=number], input[type=password], textarea
  padding: 5px
  border: none
  border: 1px solid #ddd
  border-radius: 3px
  line-height: 1.4
  background-color: #fbfbfb
  box-shadow: inset 0 1px 1px rgba(#000,.1)
  display: block
  +font-size(1.4)
  background: #fff

  &:focus, &:active
    outline: 0
    border-color: $primarycolor
    background-color: #fff

// Gravity form style
body .gform_wrapper
  max-width: 100%

  li
    padding-left: 0

    &:before
      border: none

  h3
    border-bottom: 3px solid $primarycolor
    font-weight: 700

  &.form-quote_wrapper h3
    border-bottom: none
    +font-size(2.1)

  .gfield_required
    color: $dangercolor

  .left_label .gfield_label
    margin-top: 4px

  .gsection
    border-bottom: 1px solid #ddd

  .gfield_checkbox li input[type=checkbox], .gfield_radio li input[type=radio], .gfield_checkbox li input
    position: relative
    left: 2px

  .gform_button_select_files
    @extend .btn-blue
    margin-left: $gutter/2

  ul.left_label li ul.gfield_radio li, form ul.left_label li ul.gfield_radio li
    margin-bottom: 0

  .gform_footer input[type=submit]
    text-transform: uppercase
