*, *:before, *:after
  +box-sizing(border-box)

html
  font-size: 62.5%

body
  font-family: $font
  +font-size
  color: $color
  line-height: 1.4
  background-color: $bodybgcolor

// typography

h1, h2, h3, h4, h5, h6
  color: $darkercolor
  margin: 0 0 $gutter
  letter-spacing: -0.02em

h1
  line-height: 1.2
  -webkit-font-smoothing: antialiased

h2
  line-height: 1.2

h3
  +font-size(2.4)
  line-height: 1.2

h4
  +font-size(2.1)

h5
  +font-size(1.5)

.font
  &--small
    +font-size(1.2)

  &--big
    font-size: 110%

// link
a
  color: $linkcolor
  text-decoration: none
  +transition (all, 0.1s, linear)

  &:hover
    color: lighten($linkcolor,10)

// list
ul
  padding-left: 0
  list-style: none

  &.li--morespace li
    padding-bottom: $gutter/2

  li
    position: relative
    padding-left: $gutter

    &:before
      width: 8px
      height: 8px
      border: 2px solid $primarycolor
      position: absolute
      left: 0
      top: 5px
      content: ''
      display: block
      border-radius: 50%

  &.blue li:before
    border-color: $secondarycolor

  &.list--2col
    overflow: hidden
    li
      float: left
      width: 50%

      &:nth-child(2n)
        left: $gutter
        position: relative


nav li
  padding-left: 0
  padding-bottom: 0

  &:before
    display: none

ol
  padding-left: $gutter

dt
  font-weight: 700

dd
  margin-left: 0

  + dt
    margin-top: $gutter

//setting up margin
h1, h2, h3, h4, h5, h6, p, ul, ol, dl, table
  margin: 0 0 $gutter
