// GRID

$gridcolumn: 12
$gridwidth: 60px
$gutter: 15px

[class*="fl-"]
  float: left
  padding-left: $gutter
  padding-right: $gutter

.row
  @extend %clearfix
  margin-left: -$gutter
  margin-right: -$gutter
  position: relative

/* column */

@for $i from 1 through $gridcolumn
  .fl-#{$i}
    width: percentage($i/$gridcolumn)

/* column offset */
@for $i from 1 through 11
  .fl-offset-#{$i}
    margin-left: percentage($i/$gridcolumn)

.wrapper
  max-width: 970px
  margin: 0 auto
  padding: 0 $gutter

