.header
  color: #fff
  background: $secondarycolor center no-repeat
  background-size: 100% auto
  padding: 30px 0
  +font-size(1.6)
  text-shadow: 0 1px 3px rgba(#000, .5)

  &.header--orange
    background: url('../img/bg-orange.jpg') $primarycolor

  &.header--blue
    background: url('../img/bg-deepblue.png') $secondarycolor

  &.header--post
    padding-top: $gutter
    padding-bottom: $gutter

    .header__title
      margin-bottom: 0

    .page__title
      @include font-size(3)
      font-weight: normal
      margin-bottom: 0

      a
        color: #fff

        &:hover
          opacity: .9

  &__title
    margin-bottom: $gutter

  .page__title, .page__title--secondary
    margin: 0 0 5px
    color: inherit

  .page__title
    +font-size(4)

  .page__title--secondary
    font-weight: 400
    +font-size(1.6)

  .header__sub
    @extend .section--orange
    padding: 30px

    &--title
      color: #fff
      margin-bottom: 5px

    > *:last-child
      margin-bottom: 0

    > h3
      margin-top: -9px

  // Home
  &--home
    background-image: url(../img/home-bg.jpg)
    padding-bottom: 0
    color: $color
    text-shadow: none

    .page__title
      color: $darkercolor
      text-shadow: 0 1px 0 rgba(#fff,.5)

    .page__title--secondary
      +font-size(2.1)
      @extend .fl-8
      margin: 0 auto
      text-shadow: 0 1px 0 rgba(#fff,.5)

    .btn--ctahome
      +font-size(2.8)
      font-weight: 700
      border-radius: 100px
      line-height: 1.2
      padding-top: 20px
      padding-bottom: 24px
      margin-bottom: $gutter
      box-shadow: inset 0 -4px 0 #f46f14

      span
        text-transform: uppercase

    em
      color: $lightercolor
      display: block
      font-style: normal
      +font-size(1.4)

  &.header--home

    .header__sub
      background: #fff
      background: -webkit-gradient(linear, left top, left bottom, color-stop(62%,#ffffff), color-stop(93%,#edeeef), color-stop(100%,#ffffff))
      background: -webkit-linear-gradient(top, #ffffff 62%,#edeeef 93%,#ffffff 100%)
      background-image: linear-gradient(to bottom, #ffffff 62%,#edeeef 93%,#ffffff 100%)
      box-shadow: 0 1px 5px rgba(0,0,0,.25)
      position: relative
      top: 10px
      padding: 0
      @extend %clearfix

      h3
        +font-size(2.1)

      &--left
        background: url(../img/home-header-deepbluebg.png) right no-repeat
        display: inline-block
        width: 46%
        padding: 30px
        text-shadow: 0 1px 3px rgba(#000, .5)
        vertical-align: middle

        li
          padding-left: 35px

          &:before
            background-image: url(../img/home-header-tick.png)
            width: 26px
            height: 25px
            background-size: 26px 25px
            border: none
            top: 0

            .no-backgroundsize &
              background-image: url(../img/home-header-tick-1x.png)

        > *
          color: #fff

        > *:last-child
          margin-bottom: 0

        li
          strong
            text-transform: uppercase

      &--right
        display: inline-block
        vertical-align: middle
        width: 54%
        padding: 30px 180px 30px 30px
        text-align: center

        em
          +font-size(1.6)

      .header__humancta
        width: 170px
        height: 270px
        background: url(../img/home-humanbesidecta.png) no-repeat
        position: absolute
        display: block
        right: 0
        bottom: 0

    + section
      padding-top: 55px

  // Clients
  &--clients
    background-image: url(../img/clients-bg.jpg)
    padding-bottom: 0

    .header__title
      width: 60%
      margin-bottom: 30px

  // Languages
  &--languages
    background-image: url(../img/languages-bg.jpg)
    padding-bottom: 0

    .header__title
      margin-bottom: 30px

  // Services
  &--services
    background-image: url(../img/services-bg.jpg)
    padding-bottom: 0

    .header__title
      width: 50%
      text-shadow: none
      color: $darkercolor
      margin-bottom: 30px

    .header__sub
      text-align: center

  // Contact
  &--contact
    background-image: url(../img/contact-bg.jpg)

    .header__title
      margin-bottom: 30px