//responsive video
.video-wrapper
  box-shadow: 0 2px 5px rgba(0,0,0,.25)
  position: relative
  padding-bottom: 56.25% /* 16:9 */
  top: 10px

  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%


//image
img
  max-width: 100%
  height: auto

.alignleft
  float: left
  margin: 5px $gutter $gutter 0

.alignright
  float: right
  margin: 5px 0 $gutter $gutter

.aligncenter
  margin: 0 auto

[class*="wp-image"]
  display: block

.wp-caption
  background-color: $primarycolor
  color: #fff

  &.aligncenter
    margin-bottom: $gutter

  &-text
    padding: $gutter

    &:last-child
      margin-bottom: 0

//align stuff

.a-center
  text-align: center

.a-left
  text-align: left

.a-right
  text-align: right


// others
.color
  &-orange
    color: $primarycolor

// others
hr
  border: none
  height: 1px
  background-color: #ddd
  margin: $gutter*2 0

%clearfix
  zoom: 1

  &:before, &:after
    content: "\0020"
    display: block
    height: 0
    overflow: hidden

  &:after
    clear: both

%hidetext
  text-indent: 100%
  white-space: nowrap
  overflow: hidden
  text-shadow: none