@mixin font-size($sizeValue: 1.4)
  font-size: ($sizeValue * 10) + px
  // font-size: $sizeValue + rem

@mixin transition($transition-property, $transition-time, $method)
  -webkit-transition: $transition-property $transition-time $method
  -moz-transition: $transition-property $transition-time $method
  transition: $transition-property $transition-time $method

$mq-small: 479px
$mq-medium: 767px
$mq-large: 979px

@mixin respond-to($media)
  @if $media == small
    @media only screen and (max-width: $mq-small)
      @content

  @else if $media == medium
    @media only screen and (max-width: $mq-medium)
      @content

  @else if $media == large
    @media only screen and (max-width: $mq-large)
      @content

