@media (max-width: 1280px)
  .header
    background-size: 1440px auto

@media (max-width: 979px)

  //header
  .header
    background-size: 1280px auto

    .page__title
      +font-size(3.2)

    &.header--home

      .page__title--secondary
        +font-size(1.8)

      .header__sub

        &--left
          width: 48%

        &--right
          width: 52%
          padding-right: 140px

        .header__humancta
          right: -15px

    &.header--clients
      .header__title
        width: auto

  //homepage slider
  .why-wrapper
    .why
      height: auto

  //page: language
  .pairs
    width: 75%

  //page: services
  .page-template-page-services-php
    .section__title--light
      display: block

  #delivery-typesetting
    .fl-6:first-child
      h3
        margin-left: -$gutter
        margin-right: -$gutter

  //page: clients
  .clients__industries
    padding-left: $gutter*2
    padding-right: $gutter*2

  //page: contact
  .contact-details
    a
      +font-size(1.8)

  //button
  .btn
    &.btn--ctahome
      padding-left: 12px
      padding-right: 12px

  //clients logo
  //.clients-logo__row1, .clients-logo__row2

  [class*="clients-logo--"]
    float: none
    margin: 0 auto

    + [class*="clients-logo--"]
      margin-top: $gutter*2

  //cta bottom
  .cta__main
    text-align: center
    padding: $gutter*2 0

    .cta__title
      margin-bottom: $gutter

    &--left, &--right
      display: block
      width: auto
      padding: 0

    &--left
      background: none


@media (max-width: 767px)

  //top
  .top
    padding-bottom: 0
    border-bottom: none
    box-shadow: 0 1px 3px rgba(#000, .2)

  .top__logo
    margin-bottom: $gutter

  .top__phone
    float: right

  .top__nav
    float: none
    clear: both
    margin: 0 -20px
    text-align: center
    background: #f1f2f4
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(80%, #f1f2f4),color-stop(1, #e2e6ea))
    background-image: -webkit-linear-gradient(bottom, #f1f2f4 80%, #e2e6ea 100%)
    background-image: linear-gradient(to bottom, #f1f2f4 80%, #e2e6ea 100%)
    border-top: 1px solid rgba(0, 0, 0, 0.05)


    ul
      overflow: hidden
      display: table
      width: 100%

      li

        display: table-cell
        vertical-align: middle
        width: 25%
        margin-left: 0
        border-left: 1px solid rgba(0, 0, 0, 0.1)

        &:first-child
          border-left: none

        a
          display: block
          padding: $gutter

      .current-menu-item
        box-shadow: inset 0 -3px 0 $primarycolor

        a:before
          display: none

  //header
  .header
    background-size: auto
    +font-size(1.4)

    .page__title
      +font-size(2.7)

    &.header--home
      .page__title--secondary
        width: auto

      .header__sub

        &--left, &--right
          width: auto
          display: block

        &--left
          background: url("../img/bg-deepblue.png") repeat

        &--right
          text-align: center
          padding-right: $gutter*2

        .header__humancta
          display: none

      .btn--ctahome
        +font-size(2.1)
        padding-left: 24px
        padding-right: 24px

    &.header--services .header__title
      width: 70%

  // page: home
  .why-wrapper .why
    &__image
      width: 40%

    &__content
      padding-right: 45%
      padding-right: -webkit-calc(40% + 30px)
      padding-right: calc(40% + 30px)

  // page: language
  .languages-list
    ul
      display: inline
      float: none

    li
      float: left
      width: 33.33%

  // page: services
  .col-8
    width: 80%

  // page: clients
  .clients__industries li
    width: 33.33%

  [class*="clients-logo--"]
    width: 405px
    background-size: 405px auto

  // page: contact
  .contact-details a
    +font-size(1.4)

    i
      width: 16px
      height: 16px
      background-size: 48px 16px

      &.contact--fax
        background-position: -16px 0

      &.contact--gps
        background-position: -32px 0

  // page: 2 col
  .content__main, .content__sidebar, main.content
    float: none
    width: auto

  .content__main
    min-height: 0

  .content__sidebar
    overflow: hidden

  .sidebar
    float: left
    width: 50%

    &:nth-child(even)
      padding-left: $gutter/2

    &:nth-child(odd)
      padding-right: $gutter/2

  // article
  .entry-title
    +font-size(2.7)
    margin-top: 0

  article.post, article.attachment, .comment-list > li
    padding: $gutter

  .comment-header
    .avatar
      width: 36px
      height: auto
      vertical-align: top
      position: relative
      top: 7px

    .comment-author
      margin-left: 0

    .comment-meta
      margin-left: 36px + 7.5px

  .comment-list > li .children li
    padding-left: 36px + 7.5px

  .entry-comments > h3, .comment-respond > h3
    padding-left: $gutter
    padding-right: $gutter

  .comment-respond
    .comment-form
      padding: $gutter

    [class*="comment-form-"]
      display: block

    .form-allowed-tags
      display: none

    .form-submit
      padding-left: 0





  //footer
  .footer__nav--main, .footer__nav--second
    float: none
    text-align: center

  .footer__nav--main
    li
      margin: $gutter/2

  .footer__nav--second
    margin-top: $gutter

    li
      margin: 0 $gutter/2



@media (max-width: 479px)
  [class*="fl-"]
    width: auto
    float: none
  h3
    +font-size(2.1)

  h4
    +font-size(1.8)

  .top__nav
    ul
      li
        a
          padding: $gutter/2

  .header
    .header__sub
      padding: 15px

    &.header--home
      .page__title--secondary
        +font-size(1.4)

      .header__sub

        h3
          +font-size(1.5)

        &--left, &--right
          padding: $gutter

    &.header--services .header__title
      width: auto

  [class*="clients-logo--"]
    width: 290px
    background-size: 290px auto
    height: 25px

  .col-8
    width: auto

  // page: home
  .why-wrapper
    .why-pager

      i
        display: block

      span
        display: none

    .why
      &__image
        float: none
        width: auto
        margin-left: 0

      img
        width: 100%

      &__content
        padding-right: 0

  // page: languages
  .languages-list li
    width: 50%

  .pairs
    width: auto

  // page: services
  .translation-field
    margin-left: $gutter
    margin-right: $gutter

  #notarisation
    .fl-4
      text-align: center
      margin-bottom: $gutter

  ul.list--2col li:nth-child(2n)
    left: 0

  #delivery-typesetting
    .section__title
      padding-left: $gutter*3
      padding-right: $gutter*3
    .fl-6:first-child
      margin-bottom: $gutter*2

  // page: clients
  .clients__industries
    padding-left: 0
    padding-right: 0

    li
      width: 50%
      padding-right: $gutter/2

  #clients.section
    padding-top: 0
    padding-bottom: $gutter*2

  // page: 2 col
  .content__main, .content__sidebar
    padding: $gutter

  .content__sidebar
    padding-top: $gutter*2

  .sidebar
    float: none
    width: auto

    &:nth-child(even)
      padding-left: 0

    &:nth-child(odd)
      padding-right: 0

  article
    .neg-mt15
      margin-top: 0

  // page: contact
  .contact-details
    > div
      margin: 0 0 $gutter
      position: relative
      line-height: 41px
      display: block

    a
      position: absolute
      right: 0
      top: 0
      padding: $gutter/2 $gutter
      width: 180px
      margin-top: 0

      i
        margin-right: 3px

  // cta
  .cta__clients--omni
    border-right: none

  .cta__clients
    padding: $gutter*2 0

  .cta__clients--client
    padding-left: 0
    text-align: center
    margin-top: $gutter

    span
      display: inline

    div
      width: 290px
      background-size:  100% auto

  .footer
    &__block
      width: auto
      float: none
      margin-top: $gutter*2
      padding: 0 $gutter*2

      &:first-child
        margin-top: 0
        text-align: center

  // gform
  body
    .gform_wrapper .left_label .gfield_label
      float: none

    .gform_wrapper .right_label input.medium, .gform_wrapper .right_label select.medium, .gform_wrapper .left_label input.medium, .gform_wrapper .left_label select.medium
      width: 100%

    .gform_wrapper .right_label .gfield_description, .gform_wrapper .left_label .gfield_description, .gform_wrapper .left_label .instruction, .gform_wrapper .right_label .instruction, .right_label .gform_fileupload_multifile, .left_label .gform_fileupload_multifile
      margin-left: 0

    .gform_wrapper textarea.medium
      width: 100%

    .gform_wrapper .gform_footer.right_label, .gform_wrapper .gform_footer.left_label
      padding-left: 0
      text-align: center

  //article
  .alignleft, .aligncenter, .alignright
    float: none
    width: auto !important



