// 2 column page grid

.section--main, .content-sidebar-wrap
  @extend %clearfix
  margin-bottom: $gutter*3

.content-sidebar-wrap
  @extend .wrapper

.content__main
  float: left
  @extend .fl-8
  padding: $gutter*2
  background: #fff
  margin-top: -5px
  border-bottom: 1px solid #ddd
  min-height: 500px

  li
    padding-bottom: 0

.content__sidebar
  float: right
  @extend .fl-4
  padding: $gutter*3 $gutter*2

// article style

article
  h3
    border-bottom: 3px solid $primarycolor

  .neg-mt15
    margin-top: -$gutter

.sidebar
  margin-bottom: $gutter*3

  h5
    text-transform: uppercase
    color: $color
    margin-bottom: 0


// single
main.content
  float: left
  @extend .fl-8

article.post, article.attachment
  padding: $gutter*2
  background: #fff
  border-bottom: 1px solid #ddd
  border-top: 3px solid $primarycolor

.breadcrumb
  margin: $gutter 0 $gutter/2
  @include font-size(1.2)

.post

  + .post
    margin-top: $gutter*2

.entry-title
  +font-size(4)
  margin-top: -$gutter/2

  a
    color: $darkercolor

    &:hover
      color: $linkcolor

  + .page__title--secondary
    margin-top: -$gutter
    font-weight: normal
    color: $color

.entry-meta
  +font-size(1.2)
  padding: $gutter 0
  border-top: 1px dotted #ddd
  border-bottom: 1px dotted #ddd

  .entry-footer &
    margin-bottom: 0
    padding-bottom: 0
    border-bottom: none

  .entry-comments-link
    float: right

.ssba
  padding: 15px 0 !important
  border-top: 1px dotted #ddd

  img
    margin-right: 5px
    border-radius: 5px


// pagination
.pagination
  @extend %clearfix
  text-align: center
  margin: $gutter*2 0

  li
    padding-left: 0
    display: inline
    margin: 0 $gutter/5

    a
      display: inline-block
      padding: $gutter/2 $gutter
      background: #fff
      border-radius: 3px

      &:hover
        background: $primarycolor
        color: #fff

    &.active
      a
        background: $primarycolor
        color: #fff
        pointer-events: none
        cursor: not-allowed

    &:before
      display: none

// attachment


// page specific styles
.page-id-33
  .header
    background-image: url("../img/quotes-bg.jpg")
  .content__main
    border: 3px solid #d5d5d5