.section
  padding: 30px 0

  &--larger
    padding-top: 45px
    padding-bottom: 45px

  &--blue
    background: url(../img/bg-deepblue.jpg) $secondarycolor fixed
    color: #fff
    text-shadow: 0 1px 2px rgba(#000, .5)

    .section__title
      color: #fff

  &--orange
    background: url(../img/bg-orange.jpg) $primarycolor
    color: #fff

  &--grey
    background: url(../img/bg-grey.jpg) #949da5 fixed
    color: #fff
    text-shadow: 0 1px 2px rgba(#000, .5)

    .section__title
      color: #fff

  &--darkgrey
    background: url(../img/bg-darkgrey.jpg) #24252e fixed
    color: $color-darkgrey-text

    .section__title, h5
      color: #fff

  &--white
    background-color: #fff

  &__title
    position: relative
    padding-bottom: $gutter
    margin-bottom: $gutter

    &--light
      font-weight: 300

    &:after
      position: absolute
      width: 40px
      height: 1px
      background-color: $primarycolor
      bottom: 0
      left: 50%
      margin-left: -20px
      content: ''
      display: block

    &--left
      &:after
        left: 0
        margin-left: 0

// homepage
.why-wrapper
  background: #fff
  color: $color
  text-shadow: none
  text-align: left
  box-shadow: 0 1px 5px rgba(#000, .2)

  .why
    padding: 30px
    @extend %clearfix

    &__content
      padding-right: 334px

    &__image
      float: right
      margin-left: 30px

.why-pager
  background: #f1f2f4
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(80%, #f1f2f4),color-stop(1, #e2e6ea))
  background-image: -webkit-linear-gradient(bottom, #f1f2f4 80%, #e2e6ea 100%)
  background-image: linear-gradient(to bottom, #f1f2f4 80%, #e2e6ea 100%)
  overflow: hidden
  display: table
  width: 100%

  i
    display: none
    font-style: normal

  a
    display: table-cell
    width: 20%
    height: 100%
    text-align: center
    color: $lightercolor
    padding: $gutter
    border-left: 1px solid rgba(0,0,0,.1)
    +transition(all,0.2s,linear)
    box-shadow: inset 0 3px 0 transparent
    vertical-align: middle

    &:first-child
      border-left: none

    &.cycle-pager-active
      background: #fff
      box-shadow: inset 0 3px 0 $primarycolor, 5px 0 10px rgba(0,0,0,.1)
      color: $color

// clients
#clients
  padding-bottom: 60px

.clients__industries
  overflow: hidden
  // margin-left: -$gutter
  // margin-right: -$gutter

  li
    float: left
    width: 25%
    padding: 0 $gutter $gutter/2

.clients-logo__row1, .clients-logo__row2
  overflow: hidden
  margin-bottom: $gutter*2
  margin-top: $gutter*2

  > span
    display: block
    @extend %hidetext

.clients-logo
  &--a
    background: url(../img/clients-logo-1.png) no-repeat
    width: 450px
    height: 40px
    float: left

  &--b
    background: url(../img/clients-logo-2.png) no-repeat
    width: 448px
    height: 40px
    float: right

  &--c
    background: url(../img/clients-logo-3.png) no-repeat
    width: 510px
    height: 24px
    float: left

  &--d
    background: url(../img/clients-logo-4.png) no-repeat
    width: 405px
    height: 24px
    float: right


// languages
.languages-list
  overflow: hidden
  text-align: left
  margin-left: -$gutter
  margin-right: -$gutter

  ul
    float: left
    width: 25%

    li
      padding: 0 $gutter

      &:before
        display: none

.flag
  background: url(../img/languages-flag.png) no-repeat
  width: 32px
  height: 32px
  display: inline-block
  margin-right: $gutter
  vertical-align: middle
  position: relative
  top: -1px
  -webkit-filter: drop-shadow(0 1px 2px rgba(#000, .2))

  &-my
    background-position: 0 0
  &-cn
    background-position: -32px 0
  &-in
    background-position: -32px*4 -32px
  &-jp
    background-position: -32px*3 0
  &-kr
    background-position: -32px*4 0
  &-id
    background-position: -32px*5 0
  &-il
    background-position: -32px*6 0

  &-bd
    background-position: -32px*7 0
  &-fr
    background-position: -32px*8 0
  &-kh
    background-position: -32px*9 0
  &-de
    background-position: 0 -32px
  &-ru
    background-position: -32px -32px
  &-es
    background-position: -32px*2 -32px
  &-mm
    background-position: -32px*3 -32px

  &-np
    background-position: -32px*5 -32px
  &-tr
    background-position: -32px*6 -32px
  &-lk
    background-position: -32px*2 0
  &-th
    background-position: -32px*7 -32px
  &-dk
    background-position: -32px*8 -32px
  &-nl
    background-position: -32px*9 -32px
  &-fi
    background-position: 0 -64px
  &-gr
    background-position: -32px -64px

  &-it
    background-position: -32px*2 -64px
  &-no
    background-position: -32px*3 -64px
  &-po
    background-position: -32px*4 -64px
  &-se
    background-position: -32px*5 -64px
  &-sa
    background-position: -32px*6 -64px
  &-cz
    background-position: -32px*7 -64px
  &-vn
    background-position: -32px*8 -64px
  &-la
    background-position: -32px*9 -64px

  &-hu
    background-position: 0 -96px
  &-ph
    background-position: -32px -96px
  &-pl
    background-position: -32px*2 -96px
  &-se
    background-position: -32px*3 -96px
  &-pk
    background-position: -32px*4 -96px

.pairs
  @extend .fl-6
  margin: $gutter auto
  padding: $gutter
  border-radius: 5px
  background: #fff
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fafafa),color-stop(1, #f1f1f1))
  background-image: -webkit-linear-gradient(bottom, #fafafa 0%, #f1f1f1 100%)
  background-image: linear-gradient(to bottom, #fafafa 0%, #f1f1f1 100%)
  text-align: left
  color: $color
  box-shadow: 0 1px 5px rgba(#000, .2)
  text-shadow: none

  strong
    color: $darkercolor
    width: 50px
    display: inline-block

  span
    @extend %hidetext
    display: inline-block
    width: 0
    height: 0
    border-width: 5px
    border-style: solid
    border-color: transparent transparent transparent $lightercolor
    margin: 0 $gutter 0 $gutter+5px


// services
.col-8
  @extend .fl-8
  margin: 0 auto

#leader
  background: url(../img/services-mapbg.jpg) center no-repeat

#experts
  padding-bottom: 0
  overflow: hidden

.translation-field
  background: #fff
  color: $color
  text-shadow: none
  padding: 30px 30px 22.5px
  margin: 30px -30px 0
  text-align: left
  box-shadow: 0 1px 10px rgba(#000,.2)
  position: relative
  background: #fff
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(60%, #fff),color-stop(1, #f1f1f1))
  background-image: -webkit-linear-gradient(bottom, #fff 60%, #f1f1f1 100%)
  background-image: linear-gradient(to bottom, #fff 60%, #f1f1f1 100%)

  &:before, &:after
    position: absolute
    content: ''
    width: 10px
    bottom: 0

  &:before
    top: 10px
    background-color: #f0f0f0
    right: -10px

  &:after
    top: 20px
    background-color: #e0e0e0
    right: -20px

  .pen
    position: absolute
    bottom: 0
    right: -60px
    background: url(../img/services-pen.png) no-repeat
    display: block
    width: 32px
    height: 152px

  ul
    margin-bottom: 0

[class*="services-icon"]
  width: 102px
  height: 123px
  background: url(../img/services-icons.png) no-repeat 0 0
  display: inline-block
  margin-bottom: $gutter

.services-icon--typesetting
  background-position: right 0


// contact
.contact-details
  +font-size(1.4)

  > div
    display: inline-block
    margin-right: $gutter
    opacity: 0.8
    +transition(opacity, 0.2s, linear)

    &:hover
      opacity: 1

  a
    display: block
    line-height: 24px
    border: 1px solid #fff
    border-radius: 48px
    padding: $gutter
    margin-top: $gutter/2
    +font-size(2.4)
    color: #fff
    text-shadow: none

  i
    width: 24px
    height: 24px
    background: url(../img/contact-icon.svg) no-repeat
    display: inline-block
    vertical-align: middle
    margin-right: $gutter/2
    position: relative
    top: -2px

    &.contact--fax
      background-position: -24px 0

    &.contact--gps
      background-position: -48px 0

    .no-svg &
      background-image: url(../img/contact-icon.png)

.icon-map
  width: 16px
  height: 16px
  background: url(../img/contact-icon-map.png) no-repeat
  background-size: 32px 16px
  vertical-align: middle
  position: relative
  top: -2px
  margin-right: 5px
  display: inline-block

  a:hover &
    background-position: right 0

  .no-backgroundsize &
    background-image: url(../img/contact-icon-map-1x.png)
