.top
  overflow: hidden
  position: relative
  background: #fff
  border-bottom: 2px solid #fff
  box-shadow: inset 0 -1px 0 #e5e5e5
  padding: 10px 0

//logo
.top__logo
  width: 100px
  height: 80px
  background: url(../img/omni-translation-logo-slogan.png) no-repeat
  display: block
  @extend %hidetext
  float: left

  // .no-svg &
  //   background-image: url(../img/omni-translation-logo-slogan.png)


// tel num
.top__phone
  float: left
  margin: 47px 0 0 $gutter

  &:hover
    i
      background-position: right

  &--icon
    width: 12px
    height: 12px
    display: inline-block
    background: url(../img/header-phoneicon.png) left no-repeat
    margin-right: 5px
    background-size: auto 12px
    position: relative
    top: 1px

    .no-backgroundsize &
      background-image: url(../img/header-phoneicon-1x.png)


// navigation
.top__nav
  float: right
  text-transform: uppercase
  margin: 54px 0 0

  a
    color: $color
    position: relative

    &:hover
      color: $darkercolor

  .current-menu-item
    a
      color: $darkercolor

      &:before
        width: 15px
        height: 1px
        content: ''
        position: absolute
        display: block
        background: orange
        bottom: -6px

  ul
    margin: 0
    padding: 0
    list-style: none

    li
      display: inline-block
      margin-left: $gutter*2

      &:first-child
        a
          color: $linkcolor
          font-weight: 700

          &:hover
            color: #f46f14