@import "_bourbon"
@import "_var"
@import "_mixin"

$gutter: 15px

/* ---- TOP ---- */
.header--certified
  background: $color-darkgrey
  color: $color-darkgrey-text
  padding: $gutter*4 0
  text-shadow: none
  +font-size

  .page__title
    font-weight: 300
    color: #fff
    margin-bottom: $gutter

    .word2, .word3
      font-weight: 700
      color: $primarycolor

  .page__description
    padding-right: 100px

  .header__cta
    margin-top: $gutter*2

  @media (min-width: 680px)
    background: $color-darkgrey url(../img/certified-hero-image.jpg) center no-repeat

  @media (max-width: 679px)
    .fl-9
      width: auto

    .page__description
      padding-right: 0


.btn.btn-playvideo
  margin-left: $gutter
  border-color: #5a5c6b
  color: $color-darkgrey-text

  @media (max-width: 479px)
    display: none

  i
    display: inline-block
    background: url(../img/certified-icon-playvideo.png) no-repeat
    -webkit-background-size: 8px 10px
    background-size: 8px 10px
    width: 8px
    height: 10px
    margin-right: 10px
    position: relative
    top: -2px
    opacity: .9

  &:hover
    border-color: $color-darkgrey-text
    background-color: transparent
    color: lighten($color-darkgrey-text,10)

    i
      opacity: 1



/* ---- SECTIONS ---- */

.section__certified

  &--guarantee
    padding: $gutter*11 0 0
    background: #fff url(../img/certified-embassies-mb.png) center 10px no-repeat
    -webkit-background-size: 110% auto
    background-size: 110% auto

    @media (min-width: 480px)
      padding: $gutter*6 0
      background: #fff url(../img/certified-embassies.png) center no-repeat
      -webkit-background-size: 900px auto
      background-size: 900px auto

    @media (min-width: 1200px)
      -webkit-background-size: 1182px 368px
      background-size: 1182px 368px

  &--documents
    padding: $gutter*4 0

    // img
    //   max-width: 453px

  &--order
    padding: $gutter*4 0 $gutter*3

    .section__title:after
      display: none

    .section__title--light
      color: $color-darkgrey-text

  &--cta
    padding: $gutter*5 0
    background: #fff url(../img/certified-cta-bg.jpg) center top no-repeat
    -webkit-background-size: 100% auto
    background-size: 100% auto

    // .wrapper
    //   position: relative

    //   &:before
    //     position: absolute
    //     width: 72px
    //     height: 72px
    //     background: url(../img/certified-cta-arrow.png) no-repeat
    //     -webkit-background-size: cover
    //     background-size: cover
    //     content: ''
    //     top: -111px

    .section__title--cta
      font-weight: 300
      +font-size(3.6)

    .cta
      margin-top: $gutter*2

      &__hero
        position: absolute
        bottom: -$gutter*5

        @media (max-width: 479px)
          display: none


/* ---- ORDER ---- */

.order-steps
  @extend %clearfix
  margin-left: -$gutter
  margin-right: -$gutter
  margin-top: $gutter*3

  li
    float: left
    width: percentage(1/3)
    padding: 0 $gutter

    &:before
      display: none

    @media (max-width: 767px)
      float: none
      width: auto
      margin-top: $gutter*2

      &:first-child
        margin-top: 0

  .order-step
    border-radius: 10px
    border: 2px solid #3a3c45
    padding: $gutter
    text-align: center
    @extend %clearfix

    @media (max-width: 767px)
      text-align: left


    >*:last-child
      margin-bottom: 0
      min-height: 50px

      @media (max-width: 767px)
        min-height: 0
        padding-left: 119px

    i
      display: inline-block
      background: url(../img/certified-order-steps.png) no-repeat
      width: 119px
      height: 85px
      -webkit-background-size: 357px 85px
      background-size: 357px 85px
      margin-bottom: $gutter
      margin-top: -30px

      @media (max-width: 767px)
        float: left
        margin-bottom: 0

    &--2
      i
        background-position: center

    &--3
      i
        background-position: right

    span
      text-transform: uppercase
      color: $primarycolor
      font-weight: 700
      display: block





.order-questions
  margin-top: $gutter*2
  +font-size(1.3)

  h5
    +font-size(1.3)
    margin-bottom: 0

/* ---- MISC ---- */

.image-half
  width: 50%

%clearfix
  zoom: 1

  &:before, &:after
    content: "\0020"
    display: block
    height: 0
    overflow: hidden

  &:after
    clear: both