@import "_bourbon"
@import "_var"
@import "_mixin"

$gutter: 15px

.page-template-page-landing-php

  /* ---- TOP ---- */
  .top__tagline
    +font-size(1.4)
    float: left
    margin: 51px 0 0 15px
    padding: 5px 15px 5px 15px
    border-left: 1px solid #d1d6da
    color: $color
    font-weight: 400


  .top__phone
    float: right

  /* ---- HEADER ---- */
  .header__sub
    background-image: url("../img/bg-deepblue.jpg")
    background-color: $secondarycolor
    padding: $gutter 330px $gutter $gutter*2

    span
      float: right

  .page__title--secondary
    font-weight: 700
    +font-size(2.1)

  .section--logos
    background-color: #f4f4f4

  .cta__clients--client
    padding-left: 0

  /* ---- SECTION ---- */

  .section__title
    &:after
      left: 0
      margin-left: 0

  /* ---- FOOTER ---- */
  .footer
    padding: $gutter*2 0

  .footer__copyright
    margin-top: 0

.header--landing
  background-image: url(../img/home-bg.jpg)
  background-color: #eff7ec
  padding-bottom: 0
  color: $color
  text-shadow: none

  .wrapper
    position: relative

  .page__title
    color: $darkercolor
    +font-size(5.4)
    text-shadow: 0 1px 0 rgba(#fff,.5)
    position: relative
    padding-bottom: $gutter

    span
      font-weight: 400
      +font-size(4)
      color: $color

    &:after
      position: absolute
      width: 50px
      height: 2px
      background-color: $primarycolor
      bottom: 0
      left: 0
      content: ''
      display: block


.header__landing--list
  li
    padding-left: 35px

    &:before
      background-image: url(../img/landingpage-tick.png)
      width: 26px
      height: 23px
      background-size: 26px 23px
      border: none
      top: 0

      .no-backgroundsize &
        background-image: url(../img/landingpage-tick-1x.png)


.header__landingform
  //position: absolute
  float: right
  margin-bottom: -180px
  z-index: 2
  position: relative
  width: 33.33% - percentage($gutter*2/970px)
  margin-right: $gutter
  background: #fff
  background: -webkit-gradient(linear, left top, left bottom, color-stop(62%,#ffffff), color-stop(93%,#edeeef), color-stop(100%,#ffffff))
  background: -webkit-linear-gradient(top, #ffffff 62%,#edeeef 93%,#ffffff 100%)
  background-image: linear-gradient(to bottom, #ffffff 62%,#edeeef 93%,#ffffff 100%)
  box-shadow: 0 1px 5px rgba(#000,.2)

.landingform__header
  text-align: center
  border-bottom: 2px solid $primarycolor
  padding: $gutter
  +font-size(1.4)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#ffffff), color-stop(100%,#f6f6f6))
  background: -webkit-linear-gradient(top, #ffffff 0, #f6f6f6 100%)
  background-image: linear-gradient(to bottom, #ffffff 0, #f6f6f6 100%)

  h4, p
    margin-bottom: 0

  h4
    +font-size(1.8)

.landingform__body
  padding: $gutter

  .gform_wrapper
    margin-top: 0

    div.validation_error
      margin-bottom: 0
      +font-size(1.4)
      display: none

    .top_label .gfield_error
      width: auto

    li.gfield.gfield_error
      background-color: transparent
      border: none
      padding: 0

      &.gfield_contains_required
        margin: 0 !important
        padding-left: 0 !important
        padding-right: 0 !important

    .gform_footer
      margin: 0
      padding: 0

      input[type="submit"]
        width: 100%

  .gfield
    margin-bottom: $gutter

body
  .gform_wrapper .ginput_container + .gfield_description.validation_message, .gform_wrapper .top_label .gfield_description.validation_message, .gform_wrapper .gfield_description.validation_message
    padding: 0 !important
    +font-size(1.2)

  .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container
    margin-top: 0

.section--doyouknow
  position: relative

  .human
    position: absolute
    width: 170px
    height: 270px
    background: url(../img/home-humanbesidecta.png) 10px no-repeat
    bottom: -30px
    right: 0

.section--last
  //background: url(../img/bg-landingpage-last.jpg) right top no-repeat

.section--video
  text-align: center
  //padding-bottom: 0
  background: url(../img/services-mapbg.jpg) center no-repeat

  .section__title
    //+font-size(1.8)
    //padding-bottom: 0

    &:after
      left: 50%
      margin-left: -20px
    //   display: none

  .video-wrapper
    box-shadow: 0 2px 5px rgba(0,0,0,.25)
    position: relative
    padding-bottom: 56.25% /* 16:9 */
    top: 10px

    iframe
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

/* ----- Media Queries ----- */
@media (max-width: 1600px)
  .section--last
    background-position: center top

@media (max-width: 979px)
  .header

    .page__title
      +font-size(4)
      span
        +font-size(3)
        // display: block

    .fl-8
      width: 60%

    .header__landingform
      width: 40% - percentage($gutter*2/970px)

    .header__sub
      span
        float: none

@media (max-width: 767px)
  .top__tagline
    display: none

  .page-template-page-landing-php .page__title--secondary
    +font-size(1.8)

  .header
    background-image: url("../img/home-bg-small.jpg")
    background-position: top

    .fl-8
      float: none
      width: auto

    .header__landingform
      float: none
      width: auto
      margin: 0
      margin: 0 $gutter

    .header__sub
      display: none

  .fl-10
    width: auto
  .human
    display: none

@media (max-width: 479px)
  .header
    .page__title
      +font-size(3)
      span
        +font-size(2.1)
        display: block

  .cta__clients--client
    text-align: left

  .section--larger
    padding-top: $gutter*2
    padding-bottom: $gutter*2

  .section--last
    .fl-8
      margin-bottom: $gutter*3

  .btn-lg
    text-align: center
