@import "_bourbon"
@import "_var"
@import "_mixin"

$gutter: 15px

html, body
  min-height: 100%

body
  background: url(../img/tq-bg.png) center 60% no-repeat #f8f8f8
  background-size: 1188px 583px
  padding: 0 $gutter

.top

  &__logo
    @include hide-text
    width: 140px
    height: 110px
    background: url(../img/tq-logo.png) no-repeat
    background-size: 140px 110px
    display: block
    margin: $gutter auto
    float: none

    @media (max-width: 767px)
      width: 100px
      height: 80px
      background-size: 100px 80px


.tq
  max-width: 620px
  margin: 0 auto
  background: #fff
  border-radius: 3px
  text-align: center
  box-shadow: 0 1px 5px rgba(#000, .25)
  opacity: 0
  @include animation(fadeIn .7s linear forwards)


  &__header
    @include background(linear-gradient(#fff, #f6f6f6) top repeat)
    border-bottom: 2px solid $primarycolor
    padding: $gutter
    border-radius: 3px 3px 0 0


    h1
      @include font-size(3.6)
      margin: 0

      i
        width: 33px
        height: 30px
        display: inline-block
        background: url(../img/tq-tick.png) no-repeat
        background-size: 33px 30px
        position: relative
        top: 3px


  &__body
    padding: $gutter*2
    @include font-size(1.6)

    @media (max-width: 767px)
      padding: $gutter*2 $gutter

  &__footer
    padding: $gutter*2
    background-color: #fafafa
    border-radius: 0 0 3px 3px
    color: $lightercolor

    @media (max-width: 767px)
      padding: $gutter*2 $gutter

.discount
  padding-top: $gutter
  color: $darkercolor

  &__btn
    position: relative
    display: inline-block

.btn
  &.btn--facebook
    background-color: #38579a
    box-shadow: inset 0 -2px rgba(#000, .35)
    text-shadow: 0 1px 0 rgba(#000, .35)

.svg
  &__facebook
    -webkit-filter: drop-shadow(0 1px 0 rgba(#000, .35))
    filter: drop-shadow(0 1px 0 rgba(#000, .35))
    margin-right: 10px
    position: relative
    top: 1px

    @media (max-width: 479px)
      display: none

  &__arrow
    position: absolute
    right: -58px
    top: -10px

    @media (max-width: 479px)
      display: none

.footer--tq
  text-align: center
  padding-top: $gutter*2
  color: $lightercolor

@include keyframes(fadeIn)
  to
    opacity: 1

/* ----- Media Queries ----- */
// @media (max-width: 1600px)

// @media (max-width: 979px)

@media (max-width: 767px)
  .cta__clients--client
    div
      width: 290px
      background-size:  100% auto
      margin-left: -$gutter*2
      margin-right: -$gutter*2
      text-indent: 300%

// @media (max-width: 479px)

